@use './mixins/breakpoints' as *;

html {
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@400;500;600&display=swap');

:root {
  --font-main: 'Host Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-light: #f0f1ff;
  --color-primary-dark: #535bf2;
  --color-h1: #67717B;
  --color-h2: #060E1E;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  font-size: 1.4rem;
  margin: 0;
  padding: 7rem 6rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include respond-to('tablet-sm') {
    padding: 2rem 1.5rem;
  }
}

label {
  display: block;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 0.8rem;
}

h1, h2 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  color: var(--color-h1);
  margin-bottom: 2.4rem;
}

h2 {
  color: var(--color-h2);
  margin-bottom: 2rem;
}